{% extends 'base.html' %}
{% load static %}
{% block title %}Adicionar Produto | Vértice{% endblock %}
{% block style %}
<style>
    .image-input-empty {
        background-image: url("{% static 'assets/media/svg/avatars/blank.svg' %} ");
    }

    [data-bs-theme="dark"] .image-input-empty {
        background-image: url("{% static 'assets/media/svg/avatars/blank-dark.svg' %} ");
    }
</style>
{% endblock %}
{% block content %}

<!-- Título da Página -->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex fw-bold fs-3 flex-column justify-content-center my-0">Adicionar Produto</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="index.html" class="text-muted text-hover-primary">Estoque</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-500 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    Produtos
                </li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
</div>
<!--end::Título da Página-->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- MENSAGENS DE ERRO -->
                {% if messages %}
                    <div class="card-body">
                        {% for message in messages %}
                            <div class="alert alert-danger alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- IMAGEM DO PRODUTO -->
                <div class="card-body">
                    <!--begin::Image input-->
                    <div class="image-input image-input-empty" data-kt-image-input="true">
                        <!--begin::Image preview wrapper-->
                        <div class="image-input-wrapper w-300px h-200px"></div>
                        <!--end::Image preview wrapper-->

                        <!--begin::Edit button-->
                        <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Adicionar Foto">
                            <i class="ki-duotone ki-pencil fs-6"><span class="path1"></span><span class="path2"></span></i>

                            <!--begin::Inputs-->
                            <input type="file" name="foto" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                            <!--end::Inputs-->
                        </label>
                        <!--end::Edit button-->

                        <!--begin::Cancel button-->
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="cancel"
                        data-bs-toggle="tooltip"
                        data-bs-dismiss="click"
                        title="Cancel avatar">
                            <i class="ki-outline ki-cross fs-3"></i>
                        </span>
                        <!--end::Cancel button-->

                        <!--begin::Remove button-->
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="remove"
                        data-bs-toggle="tooltip"
                        data-bs-dismiss="click"
                        title="Remove avatar">
                            <i class="ki-outline ki-cross fs-3"></i>
                        </span>
                        <!--end::Remove button-->
                    </div>
                    <!--end::Image input-->
                </div>

                <!-- INFORMAÇÕES DO PRODUTO -->
                <div class="card-body">
                    <h4 class="card-title mb-10">Informações do Produto</h4>
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <label for="id_cdg_produto" class="form-label required">{{ form.cdg_produto.label }}</label>
                            {{ form.cdg_produto }}
                            {% if form.cdg_produto.errors %}
                                <div class="invalid-feedback" style="display:block;">{{ form.cdg_produto.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-8 mb-5">
                            <label for="id_nm_produto" class="form-label required">{{ form.nm_produto.label }}</label>
                            {{ form.nm_produto }}
                            {% if form.nm_produto.errors %}
                                <div class="invalid-feedback" style="display:block;">{{ form.nm_produto.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check ms-4 d-flex align-items-center mb-10">
                            <input class="form-check-input" type="checkbox" checked id="id_ativo_produto">
                            <h3 class="fs-6 fw-semibold mb-0 ms-2">{{ form.ativo.label }}</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="id_dsc_produto" class="form-label required">{{ form.dsc_produto.label }}</label>
                        {{ form.dsc_produto }}
                        {% if form.dsc_produto.errors %}
                            <div class="invalid-feedback" style="display:block;">{{ form.dsc_produto.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <!-- INFORMAÇÕES DE FABRICAÇÃO E FORNECIMENTO -->
                <div class="card-body">
                    <h4 class="card-title mb-10">Informações de Fabricação e Fornecimento</h4>
                    <div class="row">
                        <div class="col-md-6 mb-10">
                        <label for="id_fabricante_produto" class="form-label required">{{ form.fabricante_produto.label }}</label>
                        {{ form.fabricante_produto }}
                        {% if form.fabricante_produto.errors %}
                            <div class="invalid-feedback" style="display:block;">{{ form.fabricante_produto.errors }}</div>
                        {% endif %}
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-10">
                            <label for="id_lt_produto" class="form-label required">{{ form.lt_produto.label }}</label>
                            {{ form.lt_produto }}
                            {% if form.lt_produto.errors %}
                                <div class="invalid-feedback" style="display:block;">{{ form.lt_produto.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-10">
                            <label for="id_dt_fbr_produto" class="form-label required">{{ form.dt_fbr_produto.label }}</label>
                            {{ form.dt_fbr_produto }}
                            {% if form.dt_fbr_produto.errors %}
                                <div class="invalid-feedback" style="display:block;">{{ form.dt_fbr_produto.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-10">
                            <label for="id_dt_val_produto" class="form-label required">{{ form.dt_val_produto.label }}</label>
                            {{ form.dt_val_produto }}
                            {% if form.dt_val_produto.errors %}
                                <div class="invalid-feedback" style="display:block;">{{ form.dt_val_produto.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5">
                        <label for="id_cnpj_fornecedor" class="form-label required">{{ form.cnpj_fornecedor.label }}</label>
                        {{ form.cnpj_fornecedor }}
                        {% if form.cnpj_fornecedor.errors %}
                            <div class="invalid-feedback" style="display:block;">{{ form.cnpj_fornecedor.errors }}</div>
                        {% endif %}
                        </div>
                        <div class="form-check ms-4 d-flex align-items-center mb-10">
                            <input class="form-check-input" type="checkbox" id="id_novo_fornecedor">
                            <h3 class="fs-6 fw-semibold mb-0 ms-2">Novo Fornecedor</h3>
                        </div>
                    </div>
                </div>

                <!-- BOTÕES -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Avançar</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/custom/documentation/base/modal.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Inputmask({
            "mask" : "99999-999",
            "placeholder": "********"
        }).mask("#id_cep");
    });
</script> <!-- Input Mask-->
<script type="text/javascript">
    // Preenchimento automático do endereço a partir do CEP
        $("#id_cep").focusout(function () {
            $.ajax({
                url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/',
                dataType: 'json',
                success: function (resposta) {
                    if (resposta.logradouro && resposta.logradouro.trim() !== "") {
                        $("#id_logradouro").val(resposta.logradouro);
                    } else {
                        $("#id_logradouro").focus();
                    }
                    $("#id_bairro").val(resposta.bairro);
                    $("#id_cidade").val(resposta.localidade);
                    $("#id_uf").val(resposta.uf);
                    $("#id_numero").focus();
                }
            });
        });
</script> <!-- Prenchimento do Endereço pelo CEP -->
{% endblock %}