{% load static %}
<html lang="pt-br">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="description" content="Vértice é o sistema de automação de logística e comercial interno que integra vendas, controle de estoque e operações, proporcionando inovação e eficiência na gestão do seu negócio." />
        <meta name="keywords" content="Vértice, automação logística, automação comercial, gestão de estoque, controle de vendas, sistema interno, inovação, eficiência, tecnologia" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:type" content="website" />

        <link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}"/>
        <!--begin::Fonts(mandatory for all pages)-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
        <!--end::Fonts-->

        <!--end::Vendor Stylesheets-->
        <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
        <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />


        <!--end::Global Stylesheets Bundle-->
        <script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>

        {% block style %}{% endblock %}

    </head>

    <body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
        <script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>

        <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
            <!--begin::Page-->
            <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
                <!--begin::Header-->
                <div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '0'}" data-kt-sticky-animation="false">
                    <!--begin::Header container-->
                    <div class="app-container  container-fluid d-flex align-items-stretch justify-content-between " id="kt_app_header_container">

                        <!--begin::Sidebar mobile toggle-->
                        <div class="d-flex align-items-center d-lg-none ms-n3 me-1 me-md-2" title="Show sidebar menu">
                            <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_sidebar_mobile_toggle">
                                <i class="ki-duotone ki-abstract-14 fs-2 fs-md-1"><span class="path1"></span><span class="path2"></span></i>		</div>
                        </div>
                        <!--end::Sidebar mobile toggle-->


                        <!--begin::Mobile logo-->
                        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                            <a href="{% url 'index' %}" class="d-lg-none">
                                <img alt="Logo" src="{% static 'assets/img/logo_kings-removebg-preview.png' %}" class="h-30px">
                            </a>
                        </div>
                        <!--end::Mobile logo-->

                        <!--begin::Header wrapper-->
                        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
                            <!--begin::Page title-->
                            <div data-kt-swapper="true" data-kt-swapper-mode="{default: 'prepend', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_content_container', lg: '#kt_app_header_wrapper'}" class="page-title d-flex flex-column justify-content-center flex-wrap me-3 mb-5 mb-lg-0">
                                <!--begin::Title-->
                                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Sistema Administrativo</h1>
                                <!--end::Title-->
                            </div>
                            <!--end::Page title-->

                            <!--begin::Navbar-->
                            <div class="app-navbar flex-shrink-0">
                                <!--begin::Theme mode-->
                                <div class="app-navbar-item ms-1 ms-md-4">

                                    <!--begin::Menu toggle-->
                                    <a href="#" class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                        <i class="ki-solid ki-sun theme-light-show fs-1"></i><i class="ki-solid ki-moon theme-dark-show fs-1"></i></a>
                                    <!--begin::Menu toggle-->

                                    <!--begin::Menu-->
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px" data-kt-menu="true" data-kt-element="theme-mode-menu">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3 my-0">
                                            <a href="#" class="menu-link px-3 py-2 active" data-kt-element="mode" data-kt-value="light">
                                                <span class="menu-icon" data-kt-element="icon">
                                                    <i class="ki-solid ki-sun fs-2"></i>
                                                </span>
                                                <span class="menu-title">
                                                    Claro
                                                </span>
                                            </a>
                                        </div>
                                        <!--end::Menu item-->

                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3 my-0">
                                            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="dark">
                                                <span class="menu-icon" data-kt-element="icon">
                                                    <i class="ki-solid ki-moon fs-2"></i>
                                                </span>
                                                <span class="menu-title">
                                                    Escuro
                                                </span>
                                            </a>
                                        </div>
                                        <!--end::Menu item-->

                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3 my-0">
                                            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="system">
                                                <span class="menu-icon" data-kt-element="icon">
                                                    <i class="ki-solid ki-screen fs-2"></i>
                                                </span>
                                                <span class="menu-title">
                                                    Sistema
                                                </span>
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu-->

                                </div>
                            </div>
                            <!--end::Navbar-->
                        </div>
                        <!--end::Header wrapper-->
                    </div>
                    <!--end::Header container-->
                </div>
                <!--end::Header-->
                <!--begin::Wrapper-->
                <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                    <!--begin::Sidebar-->
                    <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                        <!--begin::Logo-->
                        <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
                            <!--begin::Logo image-->
                            <a href="index.html">
                                <img alt="Logo" src="{% static 'assets/img/logo_kings-removebg-preview.png' %}" class="h-25px app-sidebar-logo-default" />
                                <img alt="Logo" src="{% static 'assets/img/logo_kings-removebg-preview.png' %}" class="h-20px app-sidebar-logo-minimize" />
                            </a>
                            <!--end::Logo image-->
                            <!--begin::Sidebar toggle-->
                            <!--begin::Minimized sidebar setup:
                                if (isset($_COOKIE["sidebar_minimize_state"]) && $_COOKIE["sidebar_minimize_state"] === "on") {
                                    1. "src/js/layout/sidebar.js" adds "sidebar_minimize_state" cookie value to save the sidebar minimize state.
                                    2. Set data-kt-app-sidebar-minimize="on" attribute for body tag.
                                    3. Set data-kt-toggle-state="active" attribute to the toggle element with "kt_app_sidebar_toggle" id.
                                    4. Add "active" class to sidebar toggle element with "kt_app_sidebar_toggle" id.
                                }
                            -->
                            <div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary h-30px w-30px position-absolute top-50 start-100 translate-middle rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
                                <i class="ki-duotone ki-black-left-line fs-3 rotate-180">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </div>
                            <!--end::Sidebar toggle-->

                        </div>
                        <!--end::Logo-->
                        <!--begin::sidebar menu-->
                        <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
                            <div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">
                                <div style="padding: 0 25px;" class="aside-user d-flex align-items-sm-center justify-content-center py-5">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-50px">
                                        {% with 'assets/media/svg/avatars/blank.svg' as default_avatar %}
                                            {% if request.user.is_authenticated and request.user.foto_perfil %}
                                                <img src="{{ request.user.foto_perfil.url }}" alt="{{ request.user.username }}">
                                            {% else %}
                                                <img src="{% static default_avatar %}" alt="Avatar padrão">
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <!--end::Symbol-->

                                    <!--begin::Wrapper-->
                                    <div class="aside-user-info flex-row-fluid flex-wrap ms-5">
                                        <!--begin::Section-->
                                        <div class="d-flex">
                                            <!--begin::Info-->
                                            <div class="flex-grow-1 me-2">
                                                <!--begin::Username-->

                                                <a href="#" class="text-white text-hover-primary fs-7 fw-bold">
                                                    {% if request.user.is_authenticated %}
                                                        @{{ request.user.username }}
                                                    {% else %}
                                                        Visitante
                                                    {% endif %}
                                                </a>
                                                <!--end::Username-->

                                                <!--begin::Description-->
                                                <span class="text-gray-600 fw-semibold d-block fs-8 mb-1">
                                                    {% if request.user.is_authenticated and request.user.cargo %}
                                                        {{request.user.cargo}}
                                                    {% else %}
                                                        Usuário Padrão
                                                    {% endif %}
                                                </span>
                                                <!--end::Description-->
                                            </div>
                                            <!--end::Info-->

                                            <!--begin::User menu-->
                                            <div class="me-n2">
                                                <!--begin::Action-->
                                                <a href="#" class="btn btn-icon btn-sm btn-active-color-primary mt-n2" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-overflow="true">
                                                    <i class="ki-duotone ki-setting-2 text-muted fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                </a>

                                                <!--begin::User account menu-->
                                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        <div class="menu-content d-flex align-items-center px-3">
                                                            <!--begin::Avatar-->
                                                            <div class="symbol symbol-50px me-5">
                                                                {% with 'assets/media/svg/avatars/blank.svg' as default_avatar %}
                                                                    {% if request.user.is_authenticated and request.user.foto_perfil %}
                                                                    <img src="{{ request.user.foto_perfil.url }}" alt="{{ request.user.username }}">
                                                                    {% else %}
                                                                    <img src="{% static default_avatar %}" alt="Avatar padrão">
                                                                    {% endif %}
                                                                {% endwith %}
                                                            </div>
                                                            <!--end::Avatar-->

                                                            <!--begin::Username-->
                                                            <div class="d-flex flex-column">
                                                                <div class="fw-bold d-flex align-items-center fs-5">
                                                                    {% if request.user.is_authenticated %}
                                                                        {{ request.user.first_name }} {{ request.user.last_name }}
                                                                    {% else %}
                                                                        Visitante
                                                                    {% endif %}
                                                                </div>

                                                                <a href="{% if request.user.is_authenticated and request.user.email %}mailto:{{ request.user.email}}{% endif %}" class="fw-semibold text-muted text-hover-primary fs-7">
                                                                    {% if request.user.is_authenticated and request.user.email %}
                                                                        {{ request.user.email }}
                                                                    {% else %}
                                                                        Funcionário não cadastrado!
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <!--end::Username-->
                                                        </div>
                                                    </div>
                                                    <!--end::Menu item-->

                                                    <!--begin::Menu separator-->
                                                    <div class="separator my-2"></div>
                                                    <!--end::Menu separator-->

                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-5">
                                                        <a href="{% url 'index' %}" class="btn btn-sm w-100 btn-light text-start btn-active-color-primary">
                                                            Meu Perfil
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->

                                                    <!--begin::Menu item-->
                                                    <form method="post" action="{% url 'index' %}" class="menu-item px-5">
                                                        {% csrf_token %}
                                                        <button class="btn w-100 btn-sm btn-light-danger text-start">
                                                            Sair
                                                        </button>
                                                    </form>
                                                    <!--end::Menu item-->
                                                </div>
                                                <!--end::User account menu-->
                                                <!--end::Action-->
                                            </div>
                                            <!--end::User menu-->
                                        </div>
                                        <!--end::Section-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                            </div>

                            <!--begin::Menu wrapper-->
                            <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
                                <!--begin::Scroll wrapper-->
                                <div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">

                                    <!--begin::Menu-->
                                    <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
                                        <!--begin:Menu item-->
                                        <div data-kt-menu-trigger="click" class="menu-item">
                                            <!--begin:Menu link-->
                                            <a class="menu-link" href="{% url 'index' %}">
                                                <span class="menu-icon"><i class="ki-solid ki-category fs-2"></i></span>
                                                <span class="menu-title">Início</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu link-->

                                        <!--begin:Menu item-->
                                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                            <!--begin:Menu link-->
                                            <span class="menu-link">
                                                <span class="menu-icon"><i class="ki-solid ki-shield-search fs-2"></i></span>
                                                <span class="menu-title">Auditoria</span>
                                                <span class="menu-arrow"></span>
                                            </span>
                                            <!--end:Menu link-->

                                            <!--begin:Menu sub-->
                                            <div class="menu-sub menu-sub-accordion">
                                                <!--begin:Menu item-->
                                                <div class="menu-item">
                                                    <!--begin:Menu link-->
                                                    <a class="menu-link" href="{% url 'index' %}">
                                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                        <span class="menu-title">Lista de Registros</span>
                                                    </a>
                                                    <!--end:Menu link-->
                                                </div>
                                                <!--end:Menu item-->

                                                <!--begin:Menu item-->
                                                <div class="menu-item">
                                                    <!--begin:Menu link-->
                                                    <a class="menu-link" href="{% url 'index' %}">
                                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                        <span class="menu-title">Busca por Usuário</span>
                                                    </a>
                                                    <!--end:Menu link-->
                                                </div>
                                                <!--end:Menu item-->
                                            </div>
                                            <!--end:Menu sub-->
                                        </div>

                                        <!--begin:Menu item-->
                                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                            <!--begin:Menu link-->
                                            <span class="menu-link">
                                                <span class="menu-icon"><i class="ki-solid ki-profile-circle fs-2"></i></span>
                                                <span class="menu-title">Usuários</span>
                                                <span class="menu-arrow"></span>
                                            </span>
                                            <!--end:Menu link-->

                                            <!--begin:Menu sub-->
                                            <div class="menu-sub menu-sub-accordion">
                                                <!--begin:Menu item-->
                                                <div class="menu-item">
                                                    <!--begin:Menu link-->
                                                    <a class="menu-link" href="{% url 'index' %}">
                                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                        <span class="menu-title">Adicionar Usuário</span>
                                                    </a>
                                                    <!--end:Menu link-->
                                                </div>
                                                <!--end:Menu item-->

                                                <!--begin:Menu item-->
                                                <div class="menu-item">
                                                    <!--begin:Menu link-->
                                                    <a class="menu-link" href="{% url 'index' %}">
                                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                        <span class="menu-title">Lista de Usuários</span>
                                                    </a>
                                                    <!--end:Menu link-->
                                                </div>
                                                <!--end:Menu item-->
                                            </div>
                                        </div>
                                        <!--begin:Menu item-->
                                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                            <!--begin:Menu link-->
                                            <span class="menu-link">
                                                <span class="menu-icon"><i class="ki-solid ki-people fs-2"></i></span>
                                                <span class="menu-title">Gupos</span>
                                                <span class="menu-arrow"></span>
                                            </span>
                                            <!--end:Menu link-->

                                            <!--begin:Menu sub-->
                                            <div class="menu-sub menu-sub-accordion">
                                                <!--begin:Menu item-->
                                                <div class="menu-item">
                                                    <!--begin:Menu link-->
                                                    <a class="menu-link" href="{% url 'index' %}">
                                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                        <span class="menu-title">Adicionar Grupo</span>
                                                    </a>
                                                    <!--end:Menu link-->
                                                </div>
                                                <!--end:Menu item-->

                                                <!--begin:Menu item-->
                                                <div class="menu-item">
                                                    <!--begin:Menu link-->
                                                    <a class="menu-link" href="{% url 'index' %}">
                                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                        <span class="menu-title">Lista de Grupos</span>
                                                    </a>
                                                    <!--end:Menu link-->
                                                </div>
                                                <!--end:Menu item-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Scroll wrapper-->
                            </div>
                            <!--end::Menu wrapper-->
                        </div>
                        <!--end::sidebar menu-->
                    </div>
                    <!--end::Sidebar-->
                    <!--begin::Main-->

                    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                        <!--begin::Content wrapper-->
                        {% block content %}{% endblock %}
                        <!--end::Content wrapper-->

                        <!--begin::Footer-->
                        <div id="kt_app_footer" class="app-footer">
                            <!--begin::Footer container-->
                            <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
                                <!--begin::Copyright-->
                                <div class="text-gray-900 order-2 order-md-1">
                                    <span class="text-muted fw-semibold me-1">2025&copy;</span>
                                    <a href="https://kingstecnologia.com.br/" target="_blank" class="text-gray-800 text-hover-primary">Kings Tecnologia</a>
                                </div>
                                <!--end::Copyright-->
                                <!--begin::Menu-->
                                <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                                    <li class="menu-item">
                                        <a href="https://kingstecnologia.com.br/" target="_blank" class="menu-link px-2">Sobre</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="https://kingstecnologia.com.br/" target="_blank" class="menu-link px-2">Ajuda</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="https://kingstecnologia.com.br/" target="_blank" class="menu-link px-2">Termos e Condições</a>
                                    </li>
                                </ul>
                                <!--end::Menu-->
                            </div>
                            <!--end::Footer container-->
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end:::Main-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Page-->
        </div>

        <!--begin::Javascript-->
        <script>var hostUrl = "assets/";</script>
        <!--begin::Global Javascript Bundle(mandatory for all pages)-->
        <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
        <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
        <!--end::Global Javascript Bundle-->

        <!--begin::Custom Javascript(used for this page only)-->
        <script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
        <script src="{% static 'assets/js/custom/widgets.js' %}"></script>
        <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

        {% block script %}
        {% endblock %}
        <!--end::Custom Javascript-->
        <!--end::Javascript-->
    </body>
    <!--end::Body-->
</html>